select {
    /*border: var(--spacing-n1) double var(--color-gray-1);*/
    padding: var(--spacing-n3) var(--spacing-1);
    border-width: 0;
    box-shadow: 0 calc(var(--spacing-n5) / 2) 0 0 var(--color-gray-5);

    &:focus {
        outline: 0;
        box-shadow: 0 calc(var(--spacing-n5) / 2) 0 0 var(--color-gray-1);
    }
}
