.skeleton {
    color: transparent;
    width: 100%;
}

.theme--light .skeleton {
    background-color: var(--color-gray-6);
}

.theme--dark .skeleton {
    background-color: var(--color-gray-4);
}

.skeleton::after {
    content: 'Loading...';
    min-height: 100%;
}
